<a href="https://colab.research.google.com/github/Mangai2024/Mangai2024/blob/main/Car_Sales___display_the_top_5_manufacturers_by_average_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How can you calculate the average sales for each manufacturer and display the top 5 manufacturers by average sales

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv('/content/drive/MyDrive/Python /Car_sales.csv')

In [15]:
df.groupby("Manufacturer")

In [16]:
df.groupby("Manufacturer")["Sales_in_thousands"]

In [19]:
df.groupby("Manufacturer")["Sales_in_thousands"].mean()

Manufacturer
Acura          19.751250
Audi           13.519000
BMW            15.501667
Buick          60.504750
Cadillac       22.435600
Chevrolet      61.596111
Chrysler       28.817286
Dodge          82.740818
Ford          183.875909
Honda         118.534800
Hyundai        45.775333
Infiniti       23.713000
Jaguar         15.467000
Jeep           97.717667
Lexus          17.807167
Lincoln        28.544667
Mercedes-B     13.013889
Mercury        39.666500
Mitsubishi     25.842143
Nissan         57.090714
Oldsmobile     29.831500
Plymouth       16.000250
Pontiac        61.755667
Porsche         4.042667
Saab           10.653000
Saturn         33.770000
Subaru         40.067500
Toyota         82.245000
Volkswagen     34.868667
Volvo          12.623333
Name: Sales_in_thousands, dtype: float64

In [33]:
def top_manufacturers_by_avg_sales(data, n=5):
  data                                        #Parameters:data(pd.DataFrame): The car sales dataset.
                                              #n (int): The number of top manufacturers to return.
  avg_sales= data.groupby("Manufacturer")["Sales_in_thousands"].mean()
  return avg_sales.sort_values(ascending=False).head(n).reset_index().rename(columns={"Sales_in_thousands": "Average_Sales"})
  top_5_manufacturers = top_manufacturers_by_avg_sales(car_sales_data, 5)

In [34]:
print(top_5_manufacturers)

  Manufacturer  Average_Sales
0         Ford     183.875909
1        Honda     118.534800
2         Jeep      97.717667
3        Dodge      82.740818
4       Toyota      82.245000