<a href="https://colab.research.google.com/github/Mangai2024/Mangai2024/blob/main/SLR_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/slr.csv')

In [9]:
#Display the first five rows oft the dataset
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   Exam   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [8]:
#Check for missing values
print("\nMissing values in the dataset:")
print(df.isnull().sum())

Missing values in the dataset:
Exam    0
GPA     0
dtype: int64

In [12]:
#Provide summary statistics for numerical columns
print("\nSummary statistics for numerical columns:")
print(df.describe())

Summary statistics for numerical columns:
              Exam        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000